<div>
  <mat-table [dataSource]="transactions" multiTemplateDataRows>
    <!-- Columnas -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <!-- <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleSelect(row)"></mat-checkbox> -->
        <label>
          <input type="checkbox" (click)="$event.stopPropagation()" (click)="toggleSelect(row)">
          {{ row.fondoName }}
        </label>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="entidad">
      <mat-header-cell *matHeaderCellDef>Entidad</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.fondoName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ingresos">
      <mat-header-cell *matHeaderCellDef>Ingresos</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ formatNumberWithCommas(getTotalOperaciones(row.operaciones, 'ingresos'))
        }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="egresos">
      <mat-header-cell *matHeaderCellDef>Egresos</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ formatNumberWithCommas(getTotalOperaciones(row.operaciones, 'egresos'))
        }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ formatNumberWithCommas(getTotalOperaciones(row.operaciones, 'ingresos') -
        getTotalOperaciones(row.operaciones, 'egresos')) }}</mat-cell>
    </ng-container>
    <!-- Celdas ocultas para mostrar detalles de la transacción al hacer click -->
    <ng-container matColumnDef="hidden">
      <div *matCellDef="let row" [style.display]="expandedElement === row ? 'table-cell' : 'none'">
        <div [@detailExpand]="expandedElement === row ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
            <table class="tabla-detalle-oculto">
              <thead>
                <tr>
                  <th>Operacion</th>
                  <th>Ingresos</th>
                  <th>Egresos</th>
                  <th>Monto</th>
                </tr>
              </thead>
              <tbody style="text-align: center;">
                <tr *ngFor="let op of row.operaciones">
                  <td>{{ op.opName }}</td>
                  <td>{{ op.opName === 'Abono X' ? formatNumberWithCommas(getTotalOperaciones([op], 'ingresos')) : '0'
                    }}
                  </td>
                  <td>{{ op.opName === 'Rescate' ? formatNumberWithCommas(getTotalOperaciones([op], 'egresos')) : '0' }}
                  </td>
                  <td>
                    <button mat-button (click)="openModal(op.opData)">
                      Ver detalles
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === row"
      (click)="expandedElement = expandedElement === row ? null : row">
    </mat-row>
    <mat-row *matRowDef="let row; columns: ['hidden']" [class.example-detail-row]="expandedElement === row"></mat-row>
    <!-- Agregamos una fila adicional para mostrar el total -->
  </mat-table>

  <table class="total-row">
    <tr class="total-row">
      <td>TOTAL</td>
      <td>{{ formatNumberWithCommas(getTotalIngresos(transactions)) }}</td>
      <td>{{ formatNumberWithCommas(getTotalEgresos(transactions)) }}</td>
      <td>{{ formatNumberWithCommas(getTotal(transactions)) }}</td>
    </tr>
  </table>

</div>
