<div class="top-wrapper">
  <div class="neteo-table-wrapper">
    <!--seccion selects-->
    <div class="action-panel-form">
      <app-table-form (_selectedCurrency)="getCurrency($event)"></app-table-form>
    </div>
    <div class="titulo-section">
      <h3>NETEO</h3>
      <mat-icon mat-raised-button color="primary" style="color:#fff;margin-top: 16px; "
        (click)="exportAsXlsx()">cloud_download</mat-icon>
    </div>
    <!--tabla principal-->
    <div class="tabla-neteo" *ngIf="currency != undefined">
      <mat-table [dataSource]="transactions" multiTemplateDataRows>
        <!-- Columnas -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <label>
              <input type="checkbox" (click)="$event.stopPropagation()" (click)="toggleSelect(row)">
            </label>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="entidad">
          <mat-header-cell *matHeaderCellDef>Entidad</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.fondoName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="ingresos">
          <mat-header-cell *matHeaderCellDef>Ingresos</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ formatNumberWithCommas(getTotalOperaciones(row.operaciones, 'ingresos'))
            }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="egresos">
          <mat-header-cell *matHeaderCellDef>Egresos</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ formatNumberWithCommas(getTotalOperaciones(row.operaciones, 'egresos'))
            }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ formatNumberWithCommas(getTotalOperaciones(row.operaciones, 'ingresos') -
            getTotalOperaciones(row.operaciones, 'egresos')) }}</mat-cell>
        </ng-container>
        <!-- Celdas ocultas para mostrar detalles de la transacción al hacer click -->
        <ng-container matColumnDef="hidden">
          <div *matCellDef="let row" [style.display]="expandedElement === row ? 'table-cell' : 'none'">
            <div [@detailExpand]="expandedElement === row ? 'expanded' : 'collapsed'">
              <div class="example-element-description">
                <table class="tabla-detalle-oculto">
                  <thead>
                    <tr>
                      <th>Operacion</th>
                      <th>Ingresos</th>
                      <th>Egresos</th>
                      <th>Monto</th>
                    </tr>
                  </thead>
                  <tbody style="text-align: center;">
                    <tr *ngFor="let op of row.operaciones" (click)="openModal(op.opData)">
                      <input type="checkbox" (click)="$event.stopPropagation()" (click)="toggleSelectDetail(op)">
                      <td>{{ op.opName }}</td>
                      <td #ingreso>{{ op.opName === 'Abono X' ?
                        formatNumberWithCommas(getTotalOperaciones([op], 'ingresos')) : 0
                        }}
                      </td>
                      <td #egreso>{{ op.opName === 'Rescate' ?
                        formatNumberWithCommas(getTotalOperaciones([op], 'egresos')) : 0
                        }}
                      </td>
                      <td>
                        {{totalTotal}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === row"
          (click)="expandedElement = expandedElement === row ? null : row">
        </mat-row>
        <mat-row *matRowDef="let row; columns: ['hidden']"
          [class.example-detail-row]="expandedElement === row"></mat-row>
      </mat-table>

      <!--fila adicional para mostrar el total -->
      <table class="total-row">
        <tr class="total-row">
          <td>TOTAL</td>
          <td>{{ formatNumberWithCommas(getTotalIngresos(transactions)) }}</td>
          <td>{{ formatNumberWithCommas(getTotalEgresos(transactions)) }}</td>
          <td>{{ formatNumberWithCommas(getTotal(transactions)) }}</td>
        </tr>
      </table>
    </div>

  </div>
</div>
