mat-cell,
td {
  white-space: nowrap;
  border: 2px solid #fff;
  padding: 0 70px 0 10px;
}

mat-header-row {
  background-color: steelblue
}

.example-element-row:nth-child(even) {
  background-color: #cfdfee;
}

.example-element-row:nth-child(odd) {
  background-color: #deadd5;
}

.mat-cell,
.mat-header-cell {
  font-weight: bold;

}

.example-element-description {
  color: #717f92;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.example-detail-row {
  display: grid;
}


.mat-mdc-row.ng-star-inserted:not(.example-detail-row):not(.example-element-row) {
  display: none;
}

.total-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  text-align: center;
  background-color: rgb(83, 127, 191)
}

.top-wrapper {
  text-align: center;


  .neteo-table-wrapper {
    background-color: rgb(83, 127, 191);
    padding: 2px;
    display: inline-block;
    height: 116px;

    .tabla-neteo {
      margin-top: -30px;
    }

    .titulo-section {
      position: relative;
      top: -30px;
      background-color: #000;
      display: flex;
      justify-content: space-around;

      h3 {
        color: #fff;
      }
    }
  }

}
